{% extends 'base.html' %}
{% block content %}
<h2>Relatório de Giro de Estoque</h2>
<a href="{{ url_for('exportar_giro') }}" class="btn btn-outline-success mb-3">
    ⬇️ Exportar Giro de Estoque
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade Movimentada</th>
        </tr>
    </thead>
    <tbody>
        {% for nome, total in giro %}
        <tr>
            <td>{{ nome }}</td>
            <td>{{ total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
